
<div class="card m-3 p-3">
  <div>

  <h2 class="text-center text-bg-success p-3">Biography</h2>
          {{#with person}}
            <header>
                <div class="text-center text-bg-warning">
                    <h1 class="p-3">{{name}} ({{age}}) {{gender}}</h1>
                </div>

                <div class="text-bg-info p-3">
                  <ul>
                      {{#with address}}
                      <h3><em>Address</em></h3>
                        <li>Street:{{street}}</li>
                        <li>City:{{city}}</li>
                        <li>State:{{state}}</li>
                        <li>Zip:{{zip}}</li>
                        <li>Country:{{country}}</li>
                      {{/with}}
                  </ul>
                </div>

                <div class="text-bg-danger p-3">
                  <ul>
                      {{#each education}}
                       <h3><em>Education</em></h3>
                        <li>degree:{{degree}}</li>
                        <li>major:{{major}}</li>
                        <li>startDate:{{university}}</li>
                        <li>graduationYear:{{graduationYear}}</li>
                      {{/each}}
                  </ul>
                </div>

                <div class="text-bg-secondary p-3">
                  <ul>
                      {{#each workExperience}}
                       <h3><em>WorkExperience</em></h3>
                        <li>
                        <div>Company:{{company}}</div> 
                        <div>{{title}}</div> 
                        <div>{{startDate}} - {{endDate}}</div>
                        <ul><li>{{responsibilities}}</li></ul>
                        </li>
                      {{/each}}
                  </ul>
                </div>
            </header>
        {{/with}}
</div>