
<div class="text-bg-primary">
  <h2 class="text-center m-3">PROGRAM</h2>
   	{{#with program}}
   		{{#with excursion}}
			<div>
				<h1 class="text-center m-3">{{name}} in {{location.city}} ({{location.country}})</h1> 
				<h4 class="text-center m-3">{{date}}</h4>
				<div><h2 class="text-center m-3">Program Today :</h2></div>
					<div class="card p-4  text-bg-warning">
						<ol>
							<div class="row">
								{{#each program}} 
								<div class="col-6">
									<li>
										<div><h3>{{name}}</h3></div></li>
										<div>
											<ul>
												<li><em>type:{{type}}</em>
												<li><em>duration:({{duration}}) hours</em></li>
											</ul>
										</div>
										<br>
										<div>
											{{#with details}}
												<div>
													{{#with museum}}
														<div>details museum:{{name}}</div>
														{{#with location}}
															<div>address:{{address}}, {{city}}, {{country}} </div>
														{{/with}}
															<br>
														<div><strong>exhibits:</strong></div>
															<ul>
																{{#each exhibits}}
																	<li>
																		<div>{{name}}, {{artist}}, {{description}}</div>
																		<div>{{#if audio_guide}}
																			(з аудіо супровідом)
																		{{else}}
																			(без аудіо супровідом)
																		{{/if}}
																		</div>
																	</li>
																{{/each}}
															</ul>
													{{/with}}
													{{#with venue}}
														<div>details venue:{{name}}</div>
														{{#with location}}
															<div>address:{{address}}, {{city}}, {{country}} </div>
														{{/with}}
													{{/with}}
													<br>
													{{#if performers}}
														<strong>performers:</strong>
													{{/if}}
														<ul>
															{{#each performers}}
																<li>{{name}} - {{type}}</li>
															{{/each}}
														</ul>
													<br>
													<div> 
													{{#with guide}} 
														<div><strong>guide:</strong>{{name}}</div>
														<div>{{language}}, <small>rating:{{rating}}</small></div>
													{{/with}}
													</div>
												</div>
												<hr>
											{{/with}}
										</div>
									</li>
								</div>
								{{/each}}	  
							</div>
						</ol>
					</div>
				</div>
			</div>
		{{/with}}
	{{/with}}
</div>