<div class=" text-bg-primary">
	<h1 class="text-center m-4"> WEB LANGUAGES</h1>
	{{#with web}}
	<div>
		{{#each languages}}
		<div class="card my-3 ms-3 text-bg-warning">
		<ol>
			<li class="h5">
				<h3>{{name}}</h3>
				<h4>version:{{version}}</h4>
				<div>{{description}}</div>
				
				<div>
					{{#if elements}}
						<em>elements:</em>
					{{/if}}
					<ul>
						{{#each elements}}
						<li>{{name}} - {{description}}</li>
						<div>
							<ul>
								<em>attributes:</em>
								{{#each attributes}}
								<li>{{name}} - {{description}}</li>
								{{/each}}
							</ul>
						</div>
						{{/each}}
					</ul>
				</div>
				
				<div>
					{{#if properties}}
						<em>properties:</em>
					{{/if}}
					<ul>
						{{#each properties}}
						<li>{{name}} - {{description}}</li>
						<div>
							<ul>
								<em>values:</em>
								{{#each values}}
								<li>{{value}} - {{description}}</li>
								{{/each}}
							</ul>
						</div>
						{{/each}}
					</ul>
				</div>

				<div>
					{{#if functions}}
						<em>functions:</em>
					{{/if}}
					<ul>
						{{#each functions}}
						<li>{{name}} - {{description}}</li>
						<div>
							<ul>
								<em>parameters:</em>
								{{#each parameters}}
								<li>{{name}} ({{type}}) - {{description}}</li>
								{{/each}}
							</ul>
						</div>
						{{/each}}
					</ul>
				</div>
			</li>
		</ol>
		</div>
		{{/each}}
	</div>
	{{/with}}
</div>